/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

div.container{
    max-width: 40em;
    margin: auto;
}

main{
    padding: 0.5em;
}

h1{
    max-width: 8em;
    padding: 1em 0;
}

header{
    padding: 0.5em;
}

a{
    text-decoration: none;
}

nav a{
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(61, 119, 161);
    line-height: 150%;
}

@media screen and (min-width: 80em){
    nav a {
        display: inline;
        padding: 0 1em 0 0;
    }
}

section{
    padding: 0.5em 0 2em 0;
}

section.mainstory a h2{
    font-size: 3em;
    font-family: serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(61, 119, 161);
}

main section.secondary a h2{
    font-size: 1.5em;
    font-family: serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(61, 119, 161);
}

section.tertiary a h2{
    font-size: 1.1em;
    font-family: serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(61, 119, 161);
}

section.tertiary{
    border-top: 1px solid  rgb(61, 119, 161);
}

p{
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    line-height: 125%;
}

img{
    width: 100%;
}

figure{
    padding: 0.5em 0;
}

article{
    padding: 0.5em;
}

article p{
    padding: 0.5em 0;
}

article h2{
    font-size: 3em;
    font-family: serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(61, 119, 161);
    padding-top: 1em;
}

aside section.secondary h2{
    font-size: 1.1em;
    font-family: serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(61, 119, 161);
}

figcaption{
    font-style: italic;
    font-family: sans-serif;
    color: rgb(88, 88, 88);
}

aside{
    padding: 0.5em;
    background-color: rgb(207, 211, 248);
}


footer{
    background-color: rgb(61, 119, 161);
    padding: 1em 0.5em;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

